<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>企业_用户注册</title>
    <link href="../statics/css/loginstyle.css" type="text/css" rel="stylesheet">
</head>
<body>
<div class="loginbody">
    <!--注册页头部-->
    <div class="loginbodybox_1">
        <div class="loginbodybox_1_text1">捷职招聘</div>
        <div class="loginbodybox_1_text2">
            <span style="font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;">上捷职招聘，进入</span>
            <span style="font-family:'ArialMT', 'Arial', sans-serif;">AI</span>
            <span style="font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;">智能世界</span>
        </div>
        <a href="/v1/personlogin"> <button class="loginbodybox_1_button" ><span>返回首页</span></button></a>
        <div class="loginbodybox_1_text3"><a href="#">捷职科技</a></div>
        <img id="loginimg" src="../statics/images/求职者登录界面/u177.svg">
        <div class="loginbodybox_1_text4"><a href="#">捷职公众号</a></div>
    </div>
<!--    右侧表单
    <div class="loginbodybox_3"><img src="../statics/images/公众号.jpg" height="90" width="90"></div>-->
    <div class="loginbodybox_2">
        <h2>快速注册</h2>

        <!--表单登录-->
        <input type="text" class="loginbodybox_2_input1" placeholder="请输入手机号" name="inputphone" id="inputphone">
        <!--            验证码输入框-->
        <input type="text" class="loginbodybox_2_input2" placeholder="请输入验证码" name="inputcode" id="inputcode" />
<!--协议框-->
        <div class="loginbodybox_2_button2">
            <input type="radio" name="loginbody_2choose2" id="argument">
            <span style="color: #7F7F7F">我接受</span><a style="color: #02A7F0" href="#">用户协议</a><span style="color: #7F7F7F">和</span><a style="color: #02A7F0" href="#">隐私政策</a>
        </div>
<!--提示框-->
        <div class="loginbodybox_2_text1"><span>请输入正确格式的手机号</span></div>
        <div class="loginbodybox_2_text2"><span>验证码错误，请重新输入</span></div>
        <div class="loginbodybox_2_text3"><span>验证码超时，请重新输入</span></div>
        <img src="../statics/images/求职者登录界面/u168.svg">

<!--获取验证码按钮和企业注册-->

        <button class="loginbodybox_2_button1" name="getcode" id="getcode" value="click"><span>获取验证码</span></button>
        <button class="loginbodybox_2_button5" name="cpRegister" id="cpRegister" onclick="cpRegister()"><span>企业 注册</span></button>

    </div>
</div>
<script src="../statics/js/login.js"></script>
<script src="../statics/js/jquery-3.6.0.min.js"></script>
</body>
</html>
