<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>用户端企业信息</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../statics/css/userinformation.css">
	</head>
	<body>
<!--	表头部页面-->
    <header>
        <div class="head_head">
            <div class="head_headLeft">
                <img style="vertical-align: middle;" src="../statics/images/java职位下级页面/u292.svg">
                <!--选择地方名例如南通站-->
                <span>南通站</span>
                <a href="javascript:;">切换城市</a>
            </div>
            <!--网页顶端一行右边-->
            <div class="head_headRigth">
                <span>欢迎回来</span>
                <!--鼠标悬浮下拉菜单、二级菜单-->
                <a href="#"><span id="user">韩梅梅</span><img style="vertical-align: middle;" id="head_headRigth_img" src="../statics/images/head__/u288.svg"></a>
                <img style="vertical-align: middle;" id="head_headRight2" src="../statics/images/java职位下级页面/u301.svg">
                <span>400-888-666</span>
            </div>
        </div>
        <!--捷职logo与搜索框-->
        <div class="head_searchAll">
            <!-- 捷职招聘-->
            <div class="head_searchLogo">
                <span>捷职招聘</span>
            </div>
            <div class="head_search">
                <form action="">
                    <select id="head_select" name="head_select">
                        <option id="allday" value="allday">全职</option>
                        <option id="littleday" value="littleday">实习</option>
                    </select>
                    <input type="text" class="head_searchInput1" placeholder="搜索职位，公司">
                    <input type="button" class="head_searchInput2" value="搜索">
                </form>
            </div>
        </div>
    </header>
<!--		公司介绍-->
    <div class="content">
        <div class="companyimg">
            <img src="../statics/images/用户端企业信息/u1024.svg">
            <h2>XX公司</h2>
            <span class="number">XX个</span>
            <span class="text">在招岗位</span>
            <span class="kind">公司类型：xx</span>
            <span class="size">公司规模：xx</span>
            <span class="adress">公司地址：xx</span>
        </div>
    <!--公司简介-->
        <div class="introduction">
            <h2>公司简介</h2>
            <p>深圳市腾讯计算机系统有限公司成立于1998年11月，由马化腾、张志东、许晨晔、陈一丹、曾李青五位创始人共同创立。

                腾讯多元化的服务包括：社交和通信服务QQ及微信/WeChat、社交网络平台QQ空间、腾讯游戏旗下QQ游戏平台、门户网站腾讯网、腾讯新闻客户端和网络视频服务腾讯视频等。 [1]</p>
        </div>
        <div class="jobinvite">
            <h2>招聘职位</h2>
            <div id="recruitPosition">
                <!--招聘职位排列-->
                <ul>
                    <li>
                        <p class="positionName">数据分析师</p>
                        <p class="wages">8千-2万</p>
                        <span class="place">广州-荔湾区</span>
                        <span class="time">1-3年</span>
                        <span class="education">本科</span>
                        <img class="pic" src="../statics/images/java职位下级页面/u274.svg">
                        <p class="company">名创优品</p>
                        <span class="type">民营</span>
                        <span class="separate">|</span>
                        <span class="scale">10000人以上</span>
                        <div class="write"><span>编辑</span></div>
                    </li>
                    <li>
                        <p class="positionName">数据分析师</p>
                        <p class="wages">8千-2万</p>
                        <span class="place">广州-荔湾区</span>
                        <span class="time">1-3年</span>
                        <span class="education">本科</span>
                        <img class="pic" src="../statics/images/java职位下级页面/u274.svg">
                        <p class="company">名创优品</p>
                        <span class="type">民营</span>
                        <span class="separate">|</span>
                        <span class="scale">10000人以上</span>
                        <div class="write"><span>编辑</span></div>
                    </li>
                    <li>
                        <p class="positionName">数据分析师</p>
                        <p class="wages">8千-2万</p>
                        <span class="place">广州-荔湾区</span>
                        <span class="time">1-3年</span>
                        <span class="education">本科</span>
                        <img class="pic" src="../statics/images/java职位下级页面/u274.svg">
                        <p class="company">名创优品</p>
                        <span class="type">民营</span>
                        <span class="separate">|</span>
                        <span class="scale">10000人以上</span>
                        <div class="write"><span>编辑</span></div>
                    </li>
                    <li>
                        <p class="positionName">JAVA工程师</p>
                        <p class="wages">8千-2万</p>
                        <span class="place">广州-荔湾区</span>
                        <span class="time">1-3年</span>
                        <span class="education">本科</span>
                        <img class="pic" src="../statics/images/java职位下级页面/u274.svg">
                        <p class="company">名创优品</p>
                        <span class="type">民营</span>
                        <span class="separate">|</span>
                        <span class="scale">10000人以上</span>
                        <div class="write"><span>编辑</span></div>
                    </li>
                    <li>
                        <p class="positionName">数据分析师</p>
                        <p class="wages">8千-2万</p>
                        <span class="place">广州-荔湾区</span>
                        <span class="time">1-3年</span>
                        <span class="education">本科</span>
                        <img class="pic" src="../statics/images/java职位下级页面/u274.svg">
                        <p class="company">名创优品</p>
                        <span class="type">民营</span>
                        <span class="separate">|</span>
                        <span class="scale">10000人以上</span>
                        <div class="write"><span>编辑</span></div>
                    </li>
                    <li>
                        <p class="positionName">数据分析师</p>
                        <p class="wages">8千-2万</p>
                        <span class="place">广州-荔湾区</span>
                        <span class="time">1-3年</span>
                        <span class="education">本科</span>
                        <img class="pic" src="../statics/images/java职位下级页面/u274.svg">
                        <p class="company">名创优品</p>
                        <span class="type">民营</span>
                        <span class="separate">|</span>
                        <span class="scale">10000人以上</span>
                        <div class="write"><span>编辑</span></div>
                    </li>
                    <li>
                        <p class="positionName">数据分析师</p>
                        <p class="wages">8千-2万</p>
                        <span class="place">广州-荔湾区</span>
                        <span class="time">1-3年</span>
                        <span class="education">本科</span>
                        <img class="pic" src="../statics/images/java职位下级页面/u274.svg">
                        <p class="company">名创优品</p>
                        <span class="type">民营</span>
                        <span class="separate">|</span>
                        <span class="scale">10000人以上</span>
                        <div class="write"><span>编辑</span></div>
                    </li>
                    <li>
                        <p class="positionName">数据分析师</p>
                        <p class="wages">8千-2万</p>
                        <span class="place">广州-荔湾区</span>
                        <span class="time">1-3年</span>
                        <span class="education">本科</span>
                        <img class="pic" src="../statics/images/java职位下级页面/u274.svg">
                        <p class="company">名创优品</p>
                        <span class="type">民营</span>
                        <span class="separate">|</span>
                        <span class="scale">10000人以上</span>
                        <div class="write"><span>编辑</span></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="hotjob">
            <h2>热招职位</h2>
            <ul>
                <li>
                    <span>数据分析师</span>
                    <span>8千-2万</span>
                    <span>广州-荔湾区</span>
                    <span>1-3年</span>
                    <span>本科</span>
                    <span>名创优品</span>
                    <span>民营&nbsp10000人以上</span>
                  <img src="../statics/images/用户端企业信息/u1038.svg">
                </li>
                <li>
                    <span>数据分析师</span>
                    <span>8千-2万</span>
                    <span>广州-荔湾区</span>
                    <span>1-3年</span>
                    <span>本科</span>
                    <span>名创优品</span>
                    <span>民营&nbsp10000人以上</span>
                    <img src="../statics/images/用户端企业信息/u1038.svg">
                </li>
                <li>
                    <span>数据分析师</span>
                    <span>8千-2万</span>
                    <span>广州-荔湾区</span>
                    <span>1-3年</span>
                    <span>本科</span>
                    <span>名创优品</span>
                    <span>民营&nbsp10000人以上</span>
                    <img src="../statics/images/用户端企业信息/u1038.svg">
                </li>
                <li>
                    <span>数据分析师</span>
                    <span>8千-2万</span>
                    <span>广州-荔湾区</span>
                    <span>1-3年</span>
                    <span>本科</span>
                    <span>名创优品</span>
                    <span>民营&nbsp10000人以上</span>
                    <img src="../statics/images/用户端企业信息/u1038.svg">
                </li>
                <li>
                    <span>数据分析师</span>
                    <span>8千-2万</span>
                    <span>广州-荔湾区</span>
                    <span>1-3年</span>
                    <span>本科</span>
                    <span>名创优品</span>
                    <span>民营&nbsp10000人以上</span>
                    <img src="../statics/images/用户端企业信息/u1038.svg">
                </li>
            </ul>
        </div>
        <div class="pagination-bar">
            <a href="###">下一页</a>
            <a href="###" class="choose">1</a>
            <a href="###">2</a>
            <a href="###">3</a>
            <a>......</a>
            <a href="###">49</a>
            <a>共49页</a>
            <a>到第<u>&nbsp;&nbsp;</u>页</a>
            <a href="###" class="page-next">上一页</a>
        </div>
    </div>
    </body>
	<script src="../statics/js/jquery-3.6.0.min.js"></script>
	<script src="../statics/js/readpage.js"></script>
</html>
