<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>用户端阅读面试邀请页</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="../statics/css/readpage.css">
</head>

<body>
<header>
	<div class="head_head">
		<div class="head_headLeft">
			<img style="vertical-align: middle;" src="../statics/images/java职位下级页面/u292.svg">
			<!--选择地方名例如南通站-->
			<span>南通站</span>
			<a href="javascript:;">切换城市</a>
		</div>
		<!--网页顶端一行右边-->
		<div class="head_headRigth">
			<span>欢迎回来</span>
			<!--鼠标悬浮下拉菜单、二级菜单-->
			<a href="#"><span id="user">韩梅梅</span><img style="vertical-align: middle;" id="head_headRigth_img" src="../statics/images/head__/u288.svg"></a>
			<img style="vertical-align: middle;" id="head_headRight2" src="../statics/images/java职位下级页面/u301.svg">
			<span>400-888-666</span>
		</div>
	</div>
	<!--捷职招聘logo与搜索框-->
	<div class="head_searchAll">
		<!--捷职招聘-->
		<div class="head_searchLogo">
			<span>捷职招聘</span>
		</div>
		<div class="head_search">
			<form action="">
				<select id="head_select" name="head_select">
					<option id="allday" value="allday">全职</option>
					<option id="littleday" value="littleday">实习</option>
				</select>
				<input type="text" class="head_searchInput1" placeholder="搜索职位，公司">
				<input type="button" class="head_searchInput2" value="搜索">
			</form>
		</div>
	</div>
</header>
<!--信息栏-->
<div class="jobinformation">
	<span>职位名称</span>
	<span>8千 - 1.2万</span>
	<span>广州-荔湾区</span>
	<span>1-3年</span>
	<span>本科</span>
	<span>全职</span>
	<span>名创优品</span>
	<span>民营&nbsp;|</span>
	<span>10000以上</span>
	<a href="#">申请职位</a>
</div>

<div class="jobbody">
	<ul class="checkbox">
		<li class="checkboxli choose">面试邀请</li>
		<li class="checkboxli2">职位信息</li>
	</ul>
	<div class="checkbox">
		<div class="column_side1">
			<h3>职位描述</h3>
			<img src="../statics/images/职位信息（详情页/u919.svg">
			<ul class="dowhat">
				<p>岗位职责：</p>
				<li><span>1、负责公司H5产品，移动端web，云平台功能开发；</span></li>
				<li><span>2、代码编写，页面整体资源整合、逻辑实现，前后端联调；</span></li>
				<li><span>3、负责前端组件优化，交互体验突破</span></li>
			</ul>
			<ul class="needwhat">
				<p>任职要求：</p>
				<li><span>1、本科以上学历，4年以上 Web 前端工作经验；</span></li>
				<li><span>2、熟练使用H5、CSS3设计页面布局，对交互体验有较为深入的了解；</span></li>
				<li><span>3、熟悉nodejs，npm，webpack，git等技术；</span></li>
				<li><span>4、熟悉vue、react前端框架至少有一种实际项目经验；</span></li>
				<li><span>5、有扎实前端基础知识储备，了解ECMAScript6规范，了解HTTP协议；</span></li>
				<li><span>6、对模块化、重构、性能优化、跨浏览器兼容、提高系统的扩展性有丰富经验；</span></li>
				<li><span>7、以下优先考虑：有TypeScript实际项目经验、有微信公众号，小程序实际项目经验、了解一门后端开发语言(nodejs/java/php/python等)、有参与开源项目。</span></li>
			</ul>
			<p>办公地点</p>
			<p>文本标签</p>
		</div>
		<div class="column_side3">
			<h3>您已被邀请面试啦！</h3>
			<img src="../statics/images/职位信息（详情页/u919.svg">
			<ul class="facewhat">
				<p>面试地点：</p>
				<li><span>江苏省南通理工学院海安校区</span></li>
			</ul>
			<ul class="facewhat">
				<p>面试时间：</p>
				<li><span>2022年6月1日</span></li>
			</ul>
			<ul class="facewhat">
				<p>联系方式：</p>
				<li><span>13877789998</span></li>
			</ul>
			<button id="button1">接受</button>
			<button id="button2">拒绝</button>
		</div>
		<div class="column_side2">
			<h3>公司信息</h3>
			<img src="../statics/images/职位信息（详情页/u919.svg">
			<span class="gray">
			<p>公司logo：<img src="../statics/images/职位信息（详情页/u929.png"></p>
			<p>公司名称：</p>
			<p>公司规模：</p>
			</span>
		</div>
	</div>
</div>
<script src="../statics/js/jquery-3.6.0.min.js"></script>
<script src="../statics/js/readpage.js"></script>
</body>
</html>
