body{
    margin: 0px;
    background: white;
}
input{
    outline: none;
}
#overall{
    margin:0px auto;
    width: 1080px;
}
#side{
    background: #32c3ee;
    border: none;
    /*border: 1px solid #40c7a9;*/
    border:none;
    width: 160px;
    height: 100%;
    float: left;
    position: fixed;
}
#image_side{
    border: none;
    margin:10px auto;
    width: 105px;
    height: 105px;
}
#two_side{
     background: rgb(90, 185, 236);
 }
#one_side,#two_side,#three_side{
    width: 160px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    font-size: 18px;
    color: white;
    margin-top: 2px;
    font-weight: 400;
}
#one_side:hover{
    cursor: pointer;
    background: rgba(73, 131, 218, 0.8);
}
#two_side:hover{
    cursor: pointer;
    background: rgbargba(73, 131, 218, 0.8);
}
#three_side:hover{
    cursor: pointer;
    background: rgba(73, 131, 218, 0.8);
}
.orgside{
	background: rgba(73, 131, 218, 0.8);
}
.resumeside{
	background: rgba(73, 131, 218, 0.8);
}

#main{
    width: 900px;
    height: auto;
    float: left;
    margin-left: 160px;
    position: absolute;
}
#one_main{
    margin-top: 10px;
    margin-left: 10px;
    width:860px;
    height: 60px;
    background: #F2F2F2;
    line-height: 20px;
}
#title{
    float: left;
    margin-left:20px;
}
#one_main_right{
    width: 280px;
    height: 60px;
    float: right;
    font-size: 13px;
    /*border: 1px solid black;*/
    line-height: 60px;
    position: relative;
}
#welcome{
    margin-left: 40px;
    margin-right: 10px;
}
#repassword{
    border: none;
    background: #EC808D;
    padding:5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    margin-top: 16px;
    color: white;
    position: absolute;
    cursor: pointer;
}
#exit{
    border: none;
    position: absolute;
    background: #00BE93;
    padding:5px 10px;
    border-radius: 5px;
    position: absolute;
    margin-left: 80px;
    margin-top: 16px;
    color: white;
    cursor: pointer;
}
#password{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    /*opacity: 0.8;*/
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}
#frame{
    width: 440px;
    height: 400px;
    margin:10% auto;
    background: white;
}
#passwordTitle{
    width: 400px;
    height: 40px;
    background: #32c3ee;
    line-height: 40px;
    font-size: 18px;
    padding-left:40px;
    color: white;
}
#re{
    position: absolute;
    margin-top: -50px;
    margin-left: 360px;
    color: white;
    border: none;
    background: #32c3ee;
    font-size: 24px;
    cursor: pointer;
}
#cen{
    margin-top: 30px;
    margin-left: 40px;
    font-size: 14px;
    text-align: left;
    font-weight: 400;
    color: #7F7F7F;
    border-collapse: collapse;
}
#targetBar{
    width: 70px;
}
#InputUserPwd,#ConfirmPassword,#InputTelephone,#InputCode{
    width: 260px;
    height: 30px;
    border: 1px solid black;
}

#code{
    width: 120px;
    position: absolute;
    margin-left: -130px;
    margin-top: 8px;
    border: none;
    background: white;
    color: #32c3ee;
    font-size: 14px;
    text-align: right;
}

#confirm{
    width: 125px;
    height: 35px;
    border: none;
    background: #32c3ee;
    color: white;
    margin-top: 15px;
    cursor: pointer;
}
#tips1,#tips2,#tips3,#tips4{
    vertical-align: top;
    font-size: 13px;
    color: #EC808D;
    display: none;
}

#two_main{
    margin-top: 10px;
    margin-left: 10px;
    width:860px;
    line-height: 20px;
}
#four_main{
    margin-left: 10px;
    position: relative;
    height: 350px;
}
.five_main{
    width:860px;
    position: relative;
    margin-top: 0px;
    height: 120px;
}
#three_main{
    position: relative;
    margin-top: 0px;
    margin-left: 10px;
}
#jobDescription{
    width: 860px;
    height: 520px;
    background: #F2F2F2;
    border: none;
}
#tableJob{
    position: absolute;
    margin-top: 30px;
    /*margin-left: 10px;*/
}
/*职位描述部分*/
#description{
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    width: 860px;
    height: 130px;
}
#description span{
    font-size: 14px;
    color: #333333;
}
/*职位*/
#allPosition{
    font-size: 28px;
    color: #32c3ee;
    font-weight: 400;
    margin: 0;
    padding: 0;
    height: 40px;
    top: 0px;
}
/*工资右边红色*/
#allSalary{
    color: #D9001B;
    font-size: 28px;
    font-weight: 400;
    position: absolute;
    padding: 0;
    margin: 0;
    right: 65px;
    top: 0px;
}
/*城市*/
#allCity{
    font-size: 18px;
    color: #333333;
    position: absolute;
    top: 30px;
    right: 75px;
}
/*工作经验*/
#allExperience{
    position: relative;
    display:inline-block;
    margin-top: 15px;
    margin-left: 0px;
}
/*学历要求*/
#allEducation{
    position: relative;
    margin-left: 25px;
}
/*工作类型*/
#allType{
    position: relative;
    margin-left: 30px;
}
/*办公地点*/
#allPlace{
    position: absolute;
    top: 85px;
}
/*编辑标签*/
#allWrite1{
    position: absolute;
    top: 85px;
}
/*所有编辑标签*/
.allWrite{
    position: absolute;
    right: 93px;
    width: 44px;
    height: 25px;
    text-align: center;
    background-color: #FFFFFF;
    font-size: 13px;
    color: #333333;
    text-decoration:none;
    display: block;
}
.can1{
    margin-left: 55px;
    margin-top: 15px;
}
#descriptionBtn1{
    position: relative;
    margin-left: 250px;
    margin-top: 440px;
    float: left;
    cursor: pointer;
}
#descriptionBtn2{
    position: relative;
    margin-left: 20px;
    margin-top: 440px;
    float: left;
    cursor: pointer;
}
/*岗位职责部分*/
#duty{
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
    width: 860px;
    height: 195px;
}
#dutyMessage{
    width: 860px;
    height: auto;
    position: absolute;
    top: 30px;
    background-color: #f2f2f2;
}
#dutyMessage p{
    font-size: 12px;
    color: #333333;
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
}
.allTitle{
    font-size: 14px;
    color: #32c3ee;
    font-weight: bold;
}
#allWrite2{
    position: absolute;
    top: 10px;
}
#jobBtn1{
    position: relative;
    margin-left: 250px;
    margin-top: -15px;
    float: left;
    cursor: pointer;
}
#jobBtn2{
    position: relative;
    margin-left: 20px;
    margin-top: -15px;
    float: left;
    cursor: pointer;
}
/*岗位要求部分*/
#requirement{
    position: relative;
    margin-left: 10px;
    width: 860px;
    height: 330px;
}
#requireMessage{
    width: 860px;
    height: auto;
    position: absolute;
    top: 45px;
    background-color: #f2f2f2;
}
#requireMessage p{
    font-size: 12px;
    color: #333333;
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
}
#allWrite3{
    position: absolute;
    top: 10px;
}
#requireBtn1{
    position: relative;
    margin-left: 250px;
    margin-top: -80px;
    float: left;
    cursor: pointer;
}
#requireBtn2{
    position: relative;
    margin-left: 410px;
    margin-top: -80px;
    float: left;
    cursor: pointer;
}
/*模块的显示与隐藏*/
#two_main,#three_main,#four_main{
    display: none;
}
#allWrite1,#allWrite2,#allWrite3{
    display: none;
}
#description:hover #allWrite1{
    display: block;
}
#duty:hover #allWrite2{
    display: block;
}
#requirement:hover #allWrite3{
    display: block;
}

/*复用代码*/
#tr_id1,#tr_id2,#tr_id3,#tr_id4,#tr_id5,#tr_id6{
    border: none;
    /*background: antiquewhite;*/
}
#td_id1,#td_id2,#td_id3,#td_id4,#td_id5,#td_id6{
    width: 80px;
    height: 60px;
    color: #333333;
    text-align: right;
    /*background: antiquewhite;*/
}
#positionName,#officeLocation{
    margin-left: 30px;
    width: 130px;
    height: 35px;
    border: 1px solid gainsboro;
}
#address{
    margin-left: 15px;
    width:290px ;
    height: 35px;
    border: 1px solid gainsboro;
}
#workExperience,#academicRequirements,#jobType{
    margin-left: 30px;
    width:290px ;
    height: 35px;
    border: 1px solid gainsboro;
}
#lowest{
    margin-left: 30px;
}
#highest{
    margin-left: 15px;
}
#lowest,#highest{
    width: 100px;
    height: 35px;
    border: 1px solid gainsboro;
}
#o_o{
    position: absolute;
    margin-top: 17px;
}

#jobRequirements{
    width:860px;
    height: 330px;
    background: #F2F2F2;
    line-height: 30px;
    border-radius: 4px;
    font-size:28px;
    font-weight:100;
}
#jobResponsibilities{
    width:860px;
    height: 320px;
    background: #F2F2F2;
    line-height: 30px;
    border-radius: 4px;
    font-size:28px;
    font-weight:100;
}
#responsibilities,#requirements{
    margin: 40px 40px;
    width: 760px;
    height: 170px;
    border: 2px solid #DCDCDC;
    word-wrap: break-word;
    font-size: 14px;
    resize: none;
    outline: none;
}

#threemore{
    position: absolute;
    top: 215px;
    right:82px;
    color: #B3B3B3;
    font-size: 14px;
}
#fourmore{
    position: absolute;
    top: 220px;
    right:82px;
    color: #B3B3B3;
    font-size: 14px;
}
#threeBeyond,#fourBeyond{
    position: absolute;
    color: #D9001B;
    font-size: 14px;
    margin-top: -35px;
    margin-left: 580px ;
    display: none;
}
.twobtn{
    width: 310px;
    position: absolute;
    left: 260px;
}
.save{
    width: 140px;
    height: 40px;
    color: white;
    background: #32c3ee;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.save{
    position: absolute;
}
.cancel{
    width: 140px;
    font-size: 14px;
    height: 40px;
    color: white;
    background: #32c3ee;
    border-radius: 4px;
    border: none;
    margin-left: 160px;
    position: absolute;
    line-height: 10px;
    cursor: pointer;
}
.can{
    margin-left: 45px;
}
#clear{
    clear: both;
}

/*职业*/
#expectIndustryAll{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    /*opacity: 0.8;*/
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}
#expectIndustryMore{
    width: 800px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color:rgba(255,255,255,1);
}
#expectIndustryMore1{
    width:800px;
    height: 70px;
    border: black 1px solid;
}
#expectIndustryMore1 p{
    padding-left: 20px;
    margin-top: 15px;
    font-size: 30px;
    font-weight: bold;
}
#expectIndustryMore2{
    width: 150px;
    height: 330px;
    float: left;
}
#expectIndustryMore2 table{
    width: 150px;
    height: 330px;
    text-align: center;
    border-left: black 1px solid;
    border-right: black 1px solid;
    border-bottom: black 1px solid;
}
#expectIndustryMore2 tr{
    border: 0px;
}
#expectIndustryMore2 td{
    border: 0px;
}
.expectIndustryMoreAll{
    width: 650px;
    height: 330px;
    float: left;
}
.expectIndustryMoreAll table{
    width: 650px;
    height: 330px;
    border-collapse:separate;
    border-spacing:30px 30px;
    text-align: center;
    border-right: black 1px solid;
    border-bottom: black 1px solid;
}
#expectIndustryMore31{
    display: block;
}
#expectIndustryMore32{
    display: none;
}
#expectIndustryMore33{
    display: none;
}
#expectIndustryMore34{
    display: none;
}
#expectIndustryMore35{
    display: none;
}
#expectIndustryMore36{
    display: none;
}
#expectIndustryMore37{
    display: none;
}
#expectIndustryMore38{
    display: none;
}

/*地点*/
#userPlaceAll{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    /*opacity: 0.8;*/
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
}
#userPlaceMore{
    width: 800px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color:rgba(255,255,255,1);
}
#userPlaceMore1{
    width:800px;
    height: 70px;
    border: black 1px solid;
}
#userPlaceMore1 p{
    padding-left: 20px;
    margin-top: 15px;
    font-size: 30px;
    font-weight: bold;
}
#userPlaceMore2{
    width: 150px;
    height: 330px;
    float: left;
}
#userPlaceMore2 table{
    width: 150px;
    height: 330px;
    text-align: center;
    border-left: black 1px solid;
    border-right: black 1px solid;
    border-bottom: black 1px solid;
}
#userPlaceMore2 tr{
    border: 0px;
}
#userPlaceMore2 td{
    border: 0px;
}
.userPlaceMoreAll{
    width: 650px;
    height: 330px;
    float: left;
}
.userPlaceMoreAll table{
    width: 650px;
    height: 330px;
    border-collapse:separate;
    border-spacing:30px 30px;
    text-align: center;
    border-right: black 1px solid;
    border-bottom: black 1px solid;
}
#userPlaceMore31{
    display: block;
}
#userPlaceMore32{
    display: none;
}
#userPlaceMore33{
    display: none;
}
#userPlaceMore34{
    display: none;
}
#userPlaceMore35{
    display: none;
}
#userPlaceMore36{
    display: none;
}
#userPlaceMore37{
    display: none;
}
#userPlaceMore38{
    display: none;
}

/*鼠标悬停变背景色*/
#userPlacecanPick1 tr td:hover{
    background-color: #32c3ee;
    color: white;
}
/*鼠标点击颜色*/
.canPickTex1{
    background-color: #32c3ee;
    color: white;
}
.canPick tr td{
    cursor: pointer;
}
.canPick tr td:hover{
    color: #32c3ee;
}







